.page-container {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-img {
  height: 297px;
  width: 269px;
  left: 586px;
  top: 235px;
  border-radius: 0px;
  padding: 20px;
}

.page-not-found-heading {
  font-family: 'Roboto';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
}

.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  text-align: center;

  color: #989898;
  padding: 10px;
  width: 580px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 32px;

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #4094ef;
  border-radius: 12px;
  border-style: none;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  cursor: pointer;
}
